html{
    height: fit-content;
}




body{
    background-color: rgba(34, 33, 33, 0.609);
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.head{
    margin:auto;
    width:1024px;
}

header {
/*background-color: rgb(47, 47, 49);*/
height:118px;
width:1024px;
text-align: center;

}
nav{
    background-color:rgba(211, 97, 97, 0.493);
    width:1024px; 
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    
}
main{
    height:400px;
    text-align: center;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 5px;
}


footer{
    background-color: rgba(0, 0, 0, 0.199);
    /*height:100px;*/
    width:1024px;
    margin-top: 35px;
    margin-bottom: 35px;
    
    
}

h1{
    color:white;
    font-size: 84px;
    font-family: 'Times New Roman', Times, serif ;
    
}
p{
    color:rgb(243, 128, 34);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;  
}

a{
    color: tomato;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p{
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 45px;
    padding-bottom: 50px;
    color: orangered;
}

.maps{
    padding-bottom: 100px;
    
}
